body {
  background-color: #F7F9FC;
  background-image: url("images/fond.jpg");
  font-family:'Roboto', sans-serif;;
  color: #a34a28;
  font-size:19px;
  margin:50px;
}

h1{
  font-family:'Roboto', sans-serif;
  color: #575F7D;
  font-size: 35px;
  font-weight: bolder;
}

h2{
  font-family: 'Lora', serif;
  font-size: 20px;
}

p{
  font-family: 'Lora', serif;
  font-size: 25px;
}


a{
  text-decoration: none;
}

a:focus{
  color: #339AF0;
}

li{
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}

ul{
  text-decoration: none;
  margin: 0;
  padding: 0;
}


#link:hover {
  color:#443737 ;
  text-decoration: none;
  font-size: 20px;
}

#img_circle{
  border-radius: 50%;
  width: 160px;
}

.hover07 figure img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 50%;
  width: 110px;

}
.hover07 figure:hover img {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.linkimage:hover {
  font-size: 100px;
  text-decoration: none;
}

@media (max-width: 960px){
  .container {
  width: 700px;
  text-decoration: none;
  color:#443737 ;
  margin: auto;
  }
}

@media (max-width: 720px){
  .container {
  width: 500px;
  color:#443737 ;
  margin: auto;
  }
}

@media (max-width: 540px){
  .container {
  width: 300px;
  color:#443737 ;
  margin: auto;
  }
}

@media (max-width: 1440px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
  width: 948px;
  color:#443737 ;
  margin: auto;
  }
}

.card{
  background-color:  #FFFFFF;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #5f6769;
  text-align: center;
  text-decoration: none;
  margin: 15px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom: 40px;
  padding: 40px;
}

.fab{
  color: #339af0;
  text-align: center;
  font-size: 50px;
}

.btn-blue{
    background-color: #339AF0;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}

.vtt{
    position: absolute;
    margin-left: 320px;
    margin-top: -128px;
    width: 115px;
    transform: rotate(45deg);
}

